/* General Styles for About Section */
.AboutWrapper {
    background-image: url('./Aboutbg.png');
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 250px;
    gap: 20px; /* Space between columns */
    box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
}

.ImageWrapper .imagefile {
    width: 100%;
    height: auto;
}

.AbouttextWrapper {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
}

.HeroHeader h1 {
    font-family: 'Amsterdam';
    font-size: 2rem; /* Base font size */
    stroke-width: 0.6px;
    stroke: #FD9FDD;
    padding-right: 80px;
    margin: 0; /* Reset margin to avoid spacing issues */
    text-align: center;
}

.AbouttextWrapper .Abouttext h2 {
    font-size: 1.25rem; /* Base font size */
    line-height: 1.5; /* Line height for readability */
    stroke: #FD9FDD;
    stroke-width: 0.6px;
    width: auto; /* Text width */
    margin: 0; /* Reset margin to avoid spacing issues */
    text-align: center;
}

/* Responsive Styles for Tablets */
@media only screen and (max-width: 1024px) {
    .AboutWrapper {
        padding-left: 20px; /* Reduce padding on medium screens */
    }

    .HeroHeader h1 {
        font-size: 1.75rem; /* Adjust font size for tablets */
        padding-right: 0; /* Remove right padding */
    }

    .AbouttextWrapper .Abouttext h2 {
        font-size: 1rem; /* Adjust font size for medium screens */
    }
}

/* Responsive Styles for Mobile */
@media only screen and (max-width: 768px) {
    .AboutWrapper {
        flex-direction: column; /* Stack children vertically on small screens */
        padding-left: 0; /* Remove left padding */
        align-items: center; /* Center items horizontally */
        padding: 10px; /* Maintain padding */
        gap: 10px; /* Adjust gap for mobile */
    }

    .ImageWrapper { 
        width: 80%;
        border-radius: 10px; 
        justify-content: space-around;
    }

    .HeroHeader h1 {
        font-size: 1.25rem; /* Adjust font size for mobile */
        padding-right: 0; /* Remove right padding */
    }

    .AbouttextWrapper {
        width: 100%; /* Full width */
        align-items: center; /* Center items horizontally */
    }

    .Abouttext h2 {
        font-size: 0.875rem; /* Adjust font size for mobile */
        width: auto; /* Adjust width for mobile */
        text-align: center; /* Center align text */
        margin: 0; /* Remove margin */
    }
}
